nav#navbar
    div#navigation
        ul
            li#home 
                a(href="/") Home
            li#view 
                a(href="/") View Characters
            li#create 
                a(href="/") Create Character
    div#accountManagement
        ul 
            li#login
                a(href="") Sign In 
            li#createaccount
                a(href="") Create Account
            li#logout
                a#logout(href="") Log Out