nav#navbar
    div#navigation
        input(type="text" placeholder="Keyword")
        ul
            li#home 
                a(href="/") HOME
            li#char
                a(href="/characters") Search Character 
            li#people  
                a(href="/") Search Weapon
            li#users
                a(href="/") Search Spell  
            li#addMovie 
                a(href="/") Search Armor