nav#navbar
    div#navigation
        input#search(type="text" placeholder="Keyword")
        button#home Home
        button#char Search Character
        button#wep Search Weapon
        button#armor Search Armor

    script(src="./navbar/navbar.js")