html 
    head
        title Dungeons and Dragons Database 
        style 
            include ../public/styles/navbar.css
            include ../public/styles/index.css
    body 
        include navbar
        .content
            h1 Welcome to the Dungeons and Dragons Database!