html 
    head
        title #{armor.armorName}
        style 
            include ../public/styles/navbar.css
            include ../public/styles/armor.css
    body 
        include navbar
        .content
            .armor
                h2.name #{armor.armorName + " - " + armor.armorType}
                p.ac #{"AC " + armor.ac}
                p.weight #{"Weight: " + armor.armWeight + " lbs"}
                if armor.stealth == 1
                    p.stealth Disadvantage on Stealth Checks